<!DOCTYPE html>
<html>
    <head>
        <title>Break the Chain Template</title>
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <link href="//fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap" rel="stylesheet"><link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"><link href="//fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <script defer src="scripts.js"></script>
    </head>
    <body>
        
        <!-- Gen Template -->
        <span class="keywords">
        <div class="temp-wrap"><div class="temp-top">
            header
        </div><div class="temp-content"><div class="scroll">
            Content
        </div></div><div class="temp-bottom">
            notes
        </div></div>
        </span>
        
        <!-- Tabbed Template -->
        <span class="keywords">
        <div class="temp-wrap"><div class="temp-top2">
            header
        </div><div class="temp-tabs"><div class="temp-menu"><div class="temp-menuInner">
            <span id="tab-1" class="tempActive" title="tab one">tab one<div></div></span>        
            <span id="tab-2" title="tab two">tab two<div></div></span>
        </div></div><div class="temp-content">
            <div id="tab-1-content" class="scroll tempActive">
            Content 1
            </div>
            <div id="tab-2-content" class="scroll">
            Content 2
            </div>
        </div></div><div class="temp-bottom2">
            notes
        </div></div>
        </span>
        
        <!-- Wanted Template -->
        <span class="keywords">
        <div class="temp-wrap"><div class="temp-top2">
            Title
        </div><div class="temp-content">        
            <div class="md-charWrap GROUPKEYWORD">
            <div class="md-charTop"><div class="md-img">
                <img src="IMAGE URL">
            </div><div class="md-name"><a>
                first last
            </a><span></span></div></div><div class="md-info">
                quick deets
            </div><div class="md-desc"><div class="scroll pad20">
                Desc
            </div></div></div>        
        </div><div class="temp-bottom2">
            Notes
        </div></div>
        </span>
        
        <!-- Phone Template -->
        <span class="keywords">
        <div class="cell-wrap"><div class="cell-top">
        10:51 pm
        <span style="float: right;"><i class="fad fa-signal"></i> <i class="fad fa-wifi"></i> <i class="far fa-battery-full"></i></span></div><div class="cell-content">
            <div class="cell-msg"><span>Message</span></div>
        </div><div class="cell-imgWrap"><div class="cell-img">
        <img src="http://placehold.it/100">
        </div><span>
        to first last
        </span></div><div class="cell-bottom">
        message sent!
        </div></div>
        </span>
        
        <!-- Tindr Templates -->
        <span class="keywords">
        <div class="tindr-wrap">
        <img src="IMAGE URL">
        <div class="tindr-content"><b>
            name
            <span>age</span>
        </b><i class="fal fa-briefcase">
            occupation
        </i><div class="scroll pad20">
            Bio
        </div></div></div>
        </span>

        <span class="keywords">
        <div class="tindr-wrap"><div class="tindr-msgTop"><div class="tindr-img">
            <img src="IMAGE URL">
        </div><b>
            name
        </b></div><div class="tindr-content"><div class="scroll pad20">
            Message
        </div></div></div></span>

        <span class="keywords">
        <a href=""><div class="tindr-wrap"><div class="tindr-content"><div class="scroll pad20"><b>
            match/swipe message!
        </b></div></div></div></a>
        </span>
        
        <!-- Instagram Templates -->
        <span class="keywords">
        <div class="insta-wrap"><div class="insta-top"><div class="insta-imgTop">
            <img src="IMAGE URL">
        </div>
            <b>name</b>
        <div class="insta-stats"><span>
            <b>000</b> posts
        </span><span>
            <b>000</b> followers
        </span><span>
            <b>000</b> following
        </span></div><div class="insta-bio">
            Bio text
        </div></div><div class="insta-grid">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
            <img src="IMAGE URL">
        </div></div>
        </span>

        <span class="keywords">
        <div class="insta-smlWrap"><div class="insta-postImg">
            <img src="IMAGE URL">
        </div><div class="insta-smlContent"><i>liked by
            <b>name</b>
        and<b>
            00
        others</b></i>
        <div class="scroll pad20"><span>
            <b>name</b>
            Comment
        </span>
        </div></div></div>
        </span>

        <span class="keywords">
        <div class="insta-smlWrap"><div class="insta-smlContent"><div class="scroll pad20">
            <b>name</b> comment
        </div></div></div>
        </span>
        
        <!-- Timeline Template -->
        <span class="keywords">
        <div class="temp-wrap"><div class="temp-top2">
            title
        </div><div class="temp-content">
            <div class="temp-sectWrap">
            <div class="temp-fancyTop"><div class="temp-fancyTitle">YYYY</div><span></span></div>
            <div class="temp-lineTitle">month</div>
            <div class="temp-body">Events</div>
            </div>
        </div><div class="temp-bottom2">
            last updated month dd, yyyy
        </div></div>
        </span>
        
        <!-- Tracker Template -->
        <span class="keywords">
        <div class="temp-wrap"><div class="temp-top2">tracker</div><div class="temp-content">
            <div class="temp-sectWrap"><div class="temp-fancyTop2"><div class="temp-fancyTitle">active</div><span></span></div><div class="temp-body temp-track"><div class="scroll pad20">
                <thread>
                <a href="?showtopic=00">thread title</a>
                <i>featuring name</i>
                <span>thread details</span>
                </thread>
            </div></div></div>
        
            <div class="temp-sectWrap"><div class="temp-fancyTop2"><div class="temp-fancyTitle">archived</div><span></span></div><div class="temp-body temp-track"><div class="scroll pad20">
                <thread>
                <a href="?showtopic=00">thread title</a>
                <i>featuring name</i>
                <span>thread details</span>
                </thread>
            </div></div></div>
        </div><div class="temp-bottom2">
            last updated month dd, yyyy
        </div></div>
        </span>
        
        <!-- Image Dev Template -->
        <span class="threeCol">
        <div class="temp-wrap"><div class="temp-top">
            header
        </div><div class="temp-content temp-grid">
            <img src="http://placehold.it/300">        
        </div><div class="temp-bottom">
            notes        
        </div></div>
        </span>
        
        <!-- Music Dev Template -->
        <span class="keywords">
        <div class="cell-wrap"><div class="cell-top">
        10:51 pm
        <span style="float: right;"><i class="fad fa-signal"></i> <i class="fad fa-wifi"></i> <i class="far fa-battery-full"></i></span></div><div class="cell-content cell-playlist">        
            <div class="cell-msg"><span>
            <b>song title</b>
            <i>song artist</i>
            </span></div>        
        </div><div class="cell-imgWrap"><div class="cell-img">
        <img src="IMAGE URL">
        </div><span>
        <a href="PLAYLIST URL">listen</a>
        </span></div><div class="cell-bottom">now playing</div></div>
        </span>
        
        <!-- Quote Dev Template -->
        <span class="keywords">
        <div class="temp-wrap temp-quote"><div class="temp-top"></div><div class="temp-content">
            Quote
            <qs>&mdash; Source</qs>
        </div><div class="temp-bottom"></div></div>
        </span>

    </body>
</html>