<!DOCTYPE html>
<html>
    <head>
        <title>TOTL Anniversary Template</title>
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <script defer src="scripts.js"></script>
    </head>
    <body>

        <!-- GENERAL -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent"><div class="sl-tempScroll">
        Content
        </div></div></div></div></span>

        <br><br>
        <!-- POST -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent"><div class="sl-tempChar">        
            <img src="http://placehold.it/100">
        <b class="tag">
            for @[name]
        </b><span>
            notes/lyrics
        </span></div><divider></divider><div class="sl-tempScroll">        
            Content        
        </div></div></div></div></span>

        <br><br>
        <!-- TABBED -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent sl-tempTab"><div class="sl-tempTabs"><div class="sl-sticky">        
            <span id="tab-1" class="sl-activeTab">label one</span>
            <span id="tab-2">label two</span>        
        <div style="clear:both;"></div></div></div>        
            <div id="tab-1-content" class="sl-tempScroll sl-tempTabCont sl-activeTab">
            Tab one content
            </div>
            <div id="tab-2-content" class="sl-tempScroll sl-tempTabCont">
            Tab two content
            </div>        
        </div></div></div></span>

        <br><br>
        <!-- WANTED SIMPLE -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent sl-tempWant">        
            <div class="sl-tempChar">
                <img src="http://placehold.it/100">
                <b class="tag">title</b>
                <span>short info</span>
                </div><div class="sl-tempScroll">
                Overview
            </div>        
        </div></div></div></span>

        <br><br>
        <!-- WANTED TABBED -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap">
            <div class="sl-tempBox">
                <div class="sl-tempContent sl-tempTab sl-tempWantTab">
                    <div class="sl-tempTabs">
                        <div class="sl-sticky">        
                            <span id="tab-1" class="sl-activeTab"><img src="http://placehold.it/100" title="name or identifier 1"></span>
                            <span id="tab-2"><img src="http://placehold.it/100" title="name or identifier 2"></span>        
                            <div style="clear:both;"></div>
                        </div>
                    </div>        
                    <div id="tab-1-content" class="sl-tempScroll sl-tempTabCont sl-activeTab">
                        <h1>tabbed wanted ad</h1>
                        You can also use this altered tabbed template for want ads! The fancy character header doesn't work in this template, but all the keywords do!
                    </div>
                    <div id="tab-2-content" class="sl-tempScroll sl-tempTabCont">
                        Tab two content
                    </div>        
                </div>
            </div>
        </div></span>

        <br><br>
        <!-- IMAGE DEV -->
        <span class="threeCol">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent"><div class="sl-tempScroll">        
            <img src="http://placehold.it/200">        
        </div></div></div></div></span>

        <br><br>
        <!-- PLAYLIST -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap sl-tempPlay"><div class="sl-tempBox"><div class="sl-tempContent"><div class="sl-tempScroll">        
            <div class="sl-tempSong"><i class="fas fa-play"></i>
                <b>song title</b>
                <span>artist</span>
            </div>        
        </div></div></div></div></span>

        <br><br>
        <!-- QUOTE DEV -->
        <span class="KEYWORDSHERE">
        <div class="sl-tempWrap"><div class="sl-tempBox"><div class="sl-tempContent sl-tempQuote"><div class="sl-tempScroll">        
            <quote>Quote here!</quote>
            <qSource>Source here!</qSource>        
        </div></div></div></div></span>
        
    </body>
</html>