<!DOCTYPE html>
<html>
    <head>
        <title>Moments Template</title>
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"><link rel="stylesheet" href="styles.css"><script defer src="scripts.js"></script>
    </head>
    <body>

        <div class="lux-moments"><div class="temp-container temp-m template"><div class="temp-header"><div class="temp-title">
        title
        </div><div class="temp-subtitle">
        subtitle
        </div></div><div class="temp-content">
        Content
        </div></div></div>

        <div class="lux-moments"><div class="temp-container temp-m template"><div class="temp-header"><div class="temp-title">
        title
        </div><div class="temp-subtitle">
        subtitle
        </div></div><div class="temp-content"><div class="temp-scroll">
        Will scroll
        </div></div></div></div>

        <div class="lux-moments"><div class="temp-container-tabbed temp-m template">
        <div class="temp-header"><div class="temp-title">
        title
        </div><div class="temp-subtitle">
        subtitle
        </div></div><div class="temp-tabs">
            <span class="mom-active" id="tab-1"></span>
            <span id="tab-2"></span>
        </div>
            <div class="temp-content mom-active" id="tab-1-content"><div class="temp-scroll">
            Tab 1
            </div></div>

            <div class="temp-content" id="tab-2-content"><div class="temp-scroll">
            tab 2
            </div></div>
        </div></div>

        <div class="lux-moments"><div class="temp-container temp-l template"><div class="temp-header"><div class="temp-title">
        title        
        </div><div class="temp-subtitle">        
        subtitle        
        </div></div><div class="temp-content">        
            <div class="temp-timeline"><div class="time-line"></div><div class="time-dot">
            year
            </div><div class="time-content">
            <h4>Month (optional)</h4>
            <blockquote>Event</blockquote>        
            </div></div>        
        </div></div></div>

    </body>
</html>