<!DOCTYPE html>
<html>
    <head>
        <title>Stripe Template</title>
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <link href="//fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet"><link href="//fonts.googleapis.com/css?family=Oswald:400,700&amp;subset=cyrillic,latin-ext" rel="stylesheet"><link rel="stylesheet" href="styles.css"><script defer src="scripts.js"></script>
    </head>
    <body>

        <div class="adr2-template sub"><div class="adr2-temp-title"><span>
            title
        </span></div><div class="adr2-temp-subbar"><span>
            subtitle
        </span></div><div class="adr2-temp-content"><div class="adr2-temp-inner">
            Content
        </div></div></div>

        <Br><BR><BR>

        <div class="adr2-template sml"><div class="adr2-temp-title"><span>
            title.
        </span></div><div class="adr2-temp-content"><div class="adr2-temp-inner">
            Content
        </div></div></div>

        <Br><BR><BR>

        <div class="adr2-template sub claim-tabs"><div class="adr2-temp-title"><span>
            tabbed template
        </span></div><div class="adr2-temp-subbar"><ul class="lux-stripe-tabs">
            <li class="lux-stripe-tab1 current" id="tab-1">tab 1</li>
            <li class="lux-stripe-tab2" id="tab-2">tab 2</li>
        </ul></div>
        <div id="tab-1-content" class="adr2-temp-content current"><div class="adr2-temp-inner">
            There is also a tabbed template, like this one. It holds up to six tabs. It can be used with less tabs. Check tab 2 for how this was used with face claims.
        </div></div>
        <div id="tab-2-content" class="adr2-temp-content"><div class="adr2-temp-inner">
            Tab 2 content
        </div></div>
        </div>

        <Br><BR><BR>

        <div class="lux-timeline-contain">
            <h1>name.</h1>
            <img src="http://placehold.it/100">
        <div style="height: 50px;"></div><div class="lux-timeline-section"><div class="lux-timeline-marker"><div class="lux-timeline-markline"></div><div class="lux-timeline-dot"></div></div><div class="lux-timeline-text">
            <h2>YEAR</h2><div class="lux-timeline-blurbs">
                <b>month</b> event<p>
            </div></div>
            <div style="clear: both;"></div></div>
        <div class="lux-timeline-section-last"></div></div>

    </body>
</html>