<!DOCTYPE html>
<html>
    <head>
        <title>Slide Template</title>
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <link href="//fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <script defer src="scripts.js"></script>
    </head>
    <body>
        <div class="lux-slide-box"><div class="lux-slide-image">
        <img src="http://placehold.it/250x450">
        </div><div class="lux-slide-info"><div class="lux-slide-lyrics"><span>♔</span>
        lyrics here
        </div><div class="lux-slide-tag"><i class="fas fa-tag"></i> 

        @[account name]<p>

        notes here

        </div><div class="lux-slide-togPost">Read <i class="fal fa-long-arrow-right"></i></div></div><div class="lux-slide-post"><div class="lux-slide-postBox"><div class="lux-slide-postBoxIn">

        post content

        </div></div><div class="lux-slide-togInfo"><i class="fal fa-long-arrow-left"></i> Info</div></div></div>
    </body>
</html>