<!DOCTYPE html>
<html>
    <head>
        <title>Break the Chain Fall 2020 Template</title>
        <!--Common Assets-->
        <script src="../../scripts/jquery-1.12.1.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">

        <!--Fonts-->
        <link href="//fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap" rel="stylesheet">
        <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="//fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <!--Styles-->
        <link rel="stylesheet" href="styles.css">

        <!--Scripts-->
        <script defer src="scripts.js"></script>
    </head>
    <body>
        
        Template samples coming soon

    </body>
</html>